.header .am-navbar {
  background-color: #00439c;
}
.header .am-navbar .am-navbar-left,
.header .am-navbar .am-navbar-right,
.header .am-navbar .am-search-input {
  flex: 0 1 auto;
}
.header .am-navbar .am-navbar-title {
  margin-left: 10px;
}
.header .am-navbar .am-navbar-title .am-search {
  width: 100%;
  background-color: #00439c;
}
.header .am-navbar .am-navbar-title .am-search .am-search-cancel {
  color: #fff;
}
